<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
</head>
<body>
    <h1>Lista de Clientes</h1>
    <hr>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>CPF</th>
                <th>E-mail</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for pessoa in pessoas %}
            <tr>
                <td>{{ pessoa._id }}</td>
                <td>{{ pessoa.nome }}</td>
                <td>{{ pessoa.telefone }}</td>
                <td>{{ pessoa.cpf }}</td>
                <td>{{ pessoa.email }}</td>
                <td>
                    <a href="{{ url_for('editar', id=pessoa._id) }}">Editar</a>
                    <a href="{{ url_for('excluir', id=pessoa._id) }}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <a href="{{ url_for('index') }}">Voltar para a página inicial</a>
</body>
</html>
